@use '../config';
@forward '../base';

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.gwf-bio {
	&__wrapper {
		font-family: "Poppins";
		display: flex;
		justify-content: center;
		padding: 20px;
		// background-color: config.$tertiary-color;
		background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://agenciagrowify.com.br/wp-content/uploads/2025/12/background-surpresa-fantastica.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	&__holder {
		width: 800px;

		@include config.breakpoint('medium-down') {
			width: 100vw;
		}
	}

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 25px 20px;
	}

	&__profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: config.$neutral-color-lightest;
	}

	&__profile-image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: cover;
		border: 4px solid config.$neutral-color-light;
		box-shadow: config.$default-shadow;
	}

	&__profile-title {
		font-size: 28px;
		font-weight: 700;
		padding-top: 10px;

		@include config.breakpoint('medium-down') {
			font-size: 30px;
		}
	}

	&__profile-description {
		font-size: 16px;
		padding-bottom: 5px;

		&-destaque {
			font-weight: bold;
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		gap: 20px;
		padding-top: 20px;
	}

	&__social-link {
		@include config.reset-link;
	}

	&__social-icon {
		color: config.$tertiary-color;
		font-size: 24px;
		opacity: 0.8;
		transition: 0.3s;

		&:hover {
			opacity: 1;
			transform: scale(1.1);
		}
	}

	&__card {
		text-align: center;
		color: config.$neutral-color-lightest;
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	&__links-item {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 12px 15px;
		text-decoration: none;
		font-size: 18px;
		font-weight: 400;
		color: config.$neutral-color-lightest;
		background: config.$primary-color;
		border-radius: 5px;
		line-height: 22px;
		width: 100%;
		max-width: 60%;

		&:hover {
			background-color: darken(config.$primary-color, 5%);
		}

		@include config.breakpoint('medium-down') {
			max-width: 90%;
			font-size: 15px;
			padding-left: 25px;
		}

	}

	&__links-text {
		flex: 1;
	}

	&__links-item-produtos {
		text-decoration: none;
	}

	&__creator-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 20px;
	}

	&__creator-image {
		width: 290px;
		height: 350px;
		object-fit: cover;
		border-radius: 10px;
		border: 3px solid config.$neutral-color-light;
		box-shadow: config.$default-shadow;
		margin-bottom: 15px;
		margin: 10px;
	}

	&__produtos {
		background-color: config.$primary-color;
		border-radius: 15px;
		padding: 10px;
		margin: 0 auto;
		max-width: 290px;

		@include config.breakpoint('large-up') {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__produtos-title {
		font-size: 24px;
		font-weight: 400;
		color: config.$neutral-color-lightest;
		text-align: center;
		padding: 10px 0px;

		@include config.breakpoint('medium-down') {
			font-size: 19px;
		}
	}

	&__carrossel {
		position: relative;
		overflow: hidden;
		border-radius: 12px;

		@include config.breakpoint('large-up') {
			width: 275px;
		}
	}

	&__carrossel-track {
		display: flex;
		transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	}

	&__carrossel-slide {
		min-width: 100%;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__carrossel-image {
		width: 100%;
		height: auto;
		border-radius: 12px;

		@include config.breakpoint('medium-down') {
			width: 100%;
			object-fit: contain;
		}
	}

	&__carrossel-info {
		padding: 5px 5px;
	}

	&__carrossel-details {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__carrossel-product-name {
		font-size: 18px;
		color: config.$neutral-color-lightest;
		font-weight: 700;
		padding: 5px 0px;
		text-align: center;
	}

	&__carrossel-product-price {
		font-size: 18px;
		color: config.$neutral-color-lightest;
		padding-bottom: 5px;
		font-weight: 400px;
	}

	&__carrossel-controls {
		position: absolute;
		top: 27%;
		width: 99%;
		display: flex;
		justify-content: space-between;
		padding: 0 1.5px;
		pointer-events: none;

		@include config.breakpoint('medium-down') {
			width: 97%;
			padding: 0 4.5px;
		}
	}

	&__carrossel-btn {
		@include config.reset-button;
		background-color: config.$neutral-color-lightest;
		color: config.$secondary-color-dark;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: auto;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: config.$neutral-color-light;
		}
	}

	&__loja {
		display: flex;
		flex-direction: column;
		align-items: center;

		&:hover {
			background-color: darken(config.$primary-color, 5%);
			border: 2px solid config.$primary-color;
		}

		@include config.breakpoint('medium-down') {
			width: 100%;
			font-size: 16px;
		}

		.gwf-icon {
			font-size: 20px;
			padding-left: 5px;

			@include config.breakpoint('medium-down') {
				padding-left: 15px;
			}
		}
	}

	&__loja-link {
		@include config.reset-link;
		color: config.$neutral-color-lightest;
		background-color: config.$primary-color-dark;
		border: 2px solid config.$primary-color-dark;
		border-radius: 8px;
		width: 100%;
		padding: 15px 20px;
		font-size: 18px;
		font-weight: 400;
		font-family: "Poppins";
		text-align: center;
	}

	&__site {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		.gwf-icon {
			font-size: 20px;
			padding-left: 5px;
			color: config.$neutral-color-lightest;

			@include config.breakpoint('medium-down') {
				padding-left: 15px;
			}

		}
	}

	&__site-title {
		color: config.$neutral-color-lightest;
		font-size: 24px;

		@include config.breakpoint('medium-down') {
			text-shadow: 2px 2px 4px black;
		}
	}

	&__site-botao {
		@include config.reset-button;
		background-color: config.$custom_2-color-dark;
		padding: 15px;
		width: 40%;
		border-radius: 5px;

		&:hover {
			opacity: 1;
			background-color: darken(config.$custom_2-color-dark, 5%);
		}

		@include config.breakpoint('medium-down') {
			width: 90%;
		}
	}

	&__site-link {
		@include config.reset-link;
		color: config.$neutral-color-lightest;
		font-size: 18px;
	}

	&__store {
		margin: 0 auto 30px auto;
		background-color: config.$neutral-color-lightest;
		border-radius: 15px;
		overflow: hidden;
		box-shadow: config.$default-shadow;
		max-width: 600px;

		@include config.breakpoint('medium-down') {
			width: 98%;
		}
	}

	&__store-card {
		display: flex;
		flex-direction: column;
	}

	&__store-image-wrapper {
		position: relative;
		height: 180px;
	}

	&__store-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__store-info {
		padding: 10px;
		color: #333;
	}

	&__store-icon {
		padding-right: 10px;
		color: #666;
		width: 16px;


		@include config.breakpoint('large-up') {
			font-size: 20px;
		}
	}

	&__store-name {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 12px;
	}

	&__store-address,
	&__store-phone,
	&__store-hours,
	&__store-truck {
		font-size: 14px;
		margin-bottom: 8px;
		text-align: left;
	}

	&__store-actions {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		margin-top: 15px;

		@include config.breakpoint('medium-down') {
			grid-template-columns: 1fr;
		}
	}

	&__store-btn {
		@include config.reset-link;
		padding: 10px;
		border-radius: 8px;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		border: 1px solid #ddd;
		transition: all 0.3s ease;
	}

	&__store-btn--maps {
		background-color: #4285F4;
		color: #fff;
		border-color: #4285F4;

		&:hover {
			background-color: #357ae8;
			border-color: #357ae8;
			color: #fff;
			font-weight: 700;
		}
	}

	&__store-btn--waze {
		background-color: #33CCFF;
		color: #000;
		border-color: #33CCFF;

		&:hover {
			background-color: #29b6e6;
			border-color: #29b6e6;
		}
	}

	&__store-btn--map {
		background-color: #fff;
		color: #333;

		&:hover {
			background-color: #f5f5f5;
		}
	}

	&__store-map {
		padding: 0 15px 15px;

		iframe {
			border-radius: 10px;
			border: 1px solid #eee !important;
		}
	}

	&__reviews-title {
		font-size: 24px;
		color: config.$neutral-color-lightest;
		margin-bottom: 20px;
		text-align: center;
	}

	&__review {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #f8f9fa;
		padding: 20px 15px;
		border-radius: 12px;
		max-width: 450px;
		margin: 0 auto;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		color: #3c4043;
		background-color: rgba(255, 255, 255, 0.8);

		@include config.breakpoint('medium-down') {
			flex-direction: column;
			gap: 20px;
			text-align: center;
			padding: 20px;
			width: 98%;
		}
	}

	&__review-content {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__review-branding {
		display: flex;
		align-items: center;
		gap: 8px;

		@include config.breakpoint('medium-down') {
			justify-content: center;
		}
	}

	&__review-logo {
		width: 75px;
		height: auto;
	}

	&__review-title {
		font-size: 18px;
		font-weight: 700;
		color: #5f6368;
	}

	&__review-rating {
		display: flex;
		align-items: center;
		gap: 6px;

		@include config.breakpoint('medium-down') {
			justify-content: center;
		}
	}

	&__review-score {
		font-size: 20px;
		font-weight: 800;
		color: #3c4043;
	}

	&__review-stars {
		display: flex;
		color: #fbbc04;
		font-size: 18px;
	}

	&__review-count {
		font-size: 14px;
		color: #70757a;
	}

	&__review-button {
		background-color: #1a73e8;
		color: #ffffff;
		text-decoration: none;
		padding: 10px 20px;
		border-radius: 50px;
		font-size: 14px;
		font-weight: 600;
		transition: background-color 0.3s ease, transform 0.2s ease;


		&:hover {
			background-color: #1557b0;
			transform: scale(1.02);
		}

		@include config.breakpoint('medium-down') {
			width: 100%;
			max-width: 250px;
		}
	}

	&__map {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__map-container {
		height: 150px;
		border-radius: 12px;
		overflow: hidden;

		@include config.breakpoint('medium-down') {
			width: 100vw;
		}
	}


	&__video {}

	&__video-container {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}

	&__video-frame {
		width: 100%;
		aspect-ratio: 16 / 6; //mantém proporção correta do YouT
		border-radius: 16px; // cantos arredondados iguais ao site
		overflow: hidden;
		border: none;

		@include config.breakpoint('medium-down') {
			aspect-ratio: 16 / 9;
		}
	}

	&__map {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__map-container {
		height: 180px;
		border-radius: 12px;
		overflow: hidden;

		@include config.breakpoint('medium-down') {
			width: 100vw;
		}
	}

}