@use '../config';
@forward '../base';

* {
	padding: 0px;
	margin: 0px;
}

.gwf-bio {
	&__wrapper {
		font-family: "Poppins";
		display: flex;
		justify-content: center;
		padding: 20px;
		background-color: config.$primary-color-light;
		// background desktop
		background-image:
			url(https://agenciagrowify.com.br/wp-content/uploads/2025/12/unnamed-e1765214653360.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__holder {
		width: 800px;

		@include config.breakpoint('medium-down') {
			width: 100vw;
		}
	}

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 25px 20px;
	}

	&__profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: config.$neutral-color-darker;

		&--image {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			object-fit: cover;
			border: 4px solid config.$neutral-color-light;
			box-shadow: config.$default-shadow;
		}

		&--title {
			font-size: 28px;
			font-weight: 700;
			padding-top: 10px;

			@include config.breakpoint('medium-down') {
				font-size: 30px;
			}
		}

		&--description {
			font-size: 16px;
			padding-bottom: 5px;

			&-destaque {
				font-weight: bold;
			}
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		gap: 20px;
		padding-top: 20px;

		&--link {
			@include config.reset-link;
		}

		&--icon {
			color: config.$secondary-color-dark;
			font-size: 24px;
			opacity: 0.8;
			transition: 0.3s;

			&:hover {
				opacity: 1;
				transform: scale(1.1);
			}
		}
	}

	&__card {
		text-align: center;
		color: config.$neutral-color-lightest;
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--item {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 12px 15px;
			text-decoration: none;
			font-size: 18px;
			font-weight: 400;
			color: config.$neutral-color-lightest;
			width: 60%;
			background: config.$secondary-color-dark;
			margin-bottom: 10px;
			border-radius: 5px;
			height: 25px;

			&:hover {
				background: config.$secondary-color;
			}

			@include config.breakpoint('medium-down') {
				width: 90%;
				font-size: 17px;
				padding-left: 25px;
			}

		}

		&--text {
			display: flex;
			flex-direction: column;
			line-height: 10px;
			text-align: center;
			gap: 10px;

			@include config.breakpoint('medium-down') {
				font-size: 15px;
			}
		}

		&--icon {
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 30px;

			@include config.breakpoint('medium-down') {
				left: 9px;
			}
		}

		&--item-produtos {
			text-decoration: none;
		}
	}

	&__creator {
		&--content {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0px 20px;
		}

		&--image {
			width: 290px;
			height: 350px;
			object-fit: cover;
			border-radius: 10px;
			border: 3px solid config.$neutral-color-light;
			box-shadow: config.$default-shadow;
			margin-bottom: 15px;
			margin: 10px;
		}
	}


	&__produtos {
		background-color: config.$secondary-color-dark;
		border-radius: 15px;
		padding: 10px;
		margin: 0 auto;
		max-width: 290px;

		@include config.breakpoint('large-up') {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&--title {
			font-size: 24px;
			font-weight: 400;
			color: config.$neutral-color-lightest;
			text-align: center;
			padding: 10px 0px;

			@include config.breakpoint('medium-down') {
				font-size: 19px;
			}
		}
	}

	&__carrossel {
		position: relative;
		overflow: hidden;
		border-radius: 12px;

		@include config.breakpoint('large-up') {
			width: 275px;
		}

		&--track {
			display: flex;
			transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
		}

		&--slide {
			min-width: 100%;
			border-radius: 12px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&--image {
			height: 290px;
			object-fit: contain;
			border-radius: 12px;

			@include config.breakpoint('medium-down') {
				width: 100%;
				object-fit: contain;
			}
		}

		&--info {
			padding: 5px 5px;
		}

		&--details {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&--product-name {
			font-size: 18px;
			color: config.$neutral-color-lightest;
			font-weight: 700;
			padding: 5px 0px;
			text-align: center;
		}

		&--product-price {
			font-size: 18px;
			color: config.$neutral-color-lightest;
			padding-bottom: 5px;
			font-weight: 400px;
		}

		&--controls {
			position: absolute;
			top: 73%;
			width: 99%;
			display: flex;
			justify-content: space-between;
			padding: 0 1.5px;
			pointer-events: none;

			@include config.breakpoint('medium-down') {
				width: 97%;
				padding: 0 4.5px;
			}
		}

		&--btn {
			@include config.reset-button;
			background-color: config.$neutral-color-lightest;
			color: config.$secondary-color-dark;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			pointer-events: auto;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

			&:hover {
				background-color: config.$neutral-color-light;
			}
		}
	}

	&__loja {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--button {
			color: config.$neutral-color-lightest;
			background-color: config.$primary-color;
			border: 2px solid config.$primary-color;
			border-radius: 8px;
			width: 100%;
			padding: 15px 20px;
			font-size: 18px;
			font-weight: 400;
			font-family: "Poppins";

			&:hover {
				background: config.$custom_1-color;
				border: 2px solid config.$custom_1-color;
			}

			@include config.breakpoint('medium-down') {
				width: 100%;
				font-size: 16px;
			}

			.gwf-icon {
				font-size: 20px;
				padding-left: 5px;

				@include config.breakpoint('medium-down') {
					padding-left: 15px;
				}

			}
		}

		&--link {
			text-decoration: none;
			color: config.$neutral-color-lightest;
		}
	}

	&__site {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		&--title {
			color: config.$neutral-color-lightest;
			font-size: 24px;

			@include config.breakpoint('medium-down') {
				text-shadow: 2px 2px 4px black;
			}
		}

		&--botao {
			@include config.reset-button;
			background-color: config.$tertiary-color;
			padding: 15px;
			width: 40%;
			border-radius: 5px;

			&:hover {
				opacity: 1;
				background-color: darken(config.$tertiary-color, 5%);
			}

			@include config.breakpoint('medium-down') {
				width: 90%;
			}
		}

		&--link {
			@include config.reset-link;
			color: config.$neutral-color-lightest;
			font-size: 18px;
		}

		.gwf-icon {
			font-size: 20px;
			padding-left: 5px;
			color: config.$neutral-color-lightest;

			@include config.breakpoint('medium-down') {
				padding-left: 15px;
			}

		}


	}

	&__video {
		&--container {
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
		}

		&--frame {
			width: 100%;
			aspect-ratio: 16 / 6; //mantém proporção correta do YouT
			border-radius: 16px; // cantos arredondados iguais ao site
			overflow: hidden;
			border: none;

			@include config.breakpoint('medium-down') {
				aspect-ratio: 16 / 9;
			}
		}
	}

	&__map {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--container {
			height: 180px;
			border-radius: 12px;
			overflow: hidden;

			@include config.breakpoint('medium-down') {
				width: 100vw;
			}
		}
	}
}